/* настройки */
#rchangeplugin{
margin: 10px 0 0 0;
}
    #rchange{
	width: 830px;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #282828;
	}
	    .rhead{
		border: 1px solid #171717;
		border-radius: 3px 3px 0 0;
		position: relative;
		}
		    .rheadvn{
			height: 32px;
		    border-top: 1px solid #797979;
		    border-radius: 2px 2px 0 0;
	        background: #303030;
	        background: -webkit-gradient(linear, 0 0, 0 bottom, from(#585858), to(#303030));
            background: -moz-linear-gradient(#585858, #303030);
            background: -o-linear-gradient(top,  #585858,  #303030);
            text-align: center;
            color: #ececec;
            font: bold 15px Arial;	
            text-shadow: 1px 1px 1px #000;
            padding: 12px 0 0 0;			
			}
			#rajax{
			position: absolute;
			float: none;
			width: 128px;
			height: 15px;
			background: url(images/ajax-loader.gif) no-repeat;
			top: 15px;
			right: 15px;
			display: none;
			}
		.rcontent{
        background: #f8f8f8;
	    border: 1px solid #e4e4e4;
		border-radius: 0 0 3px 3px;
		min-height: 400px;
		}
		    .rsidebar{
			float: left;
			width: 200px;
			padding: 0 0 10px 0;
			}
			    .rsidebar.rright{
				float: right;
				}
			.roptiontab{
			display: none;
			}
			.rdelayvibor{
			margin: 10px 10px 0 0;
			padding: 10px 15px;
			text-align: center;
			background: #fff;
			border: 1px solid #e4e4e4;
			overflow: hidden;
			border-radius: 2px;
			}
			#rgoed{
			margin: 10px 10px 0 0;
			overflow: hidden;
			}
			    #rgoed li{
				display: block;
				padding: 5px;
				background: #fff;
				margin: 0 0 5px 0;
			    border: 1px solid #e4e4e4;
			    overflow: hidden;
			    border-radius: 2px;	
                font: bold 13px Arial;
                text-align: center;				
				}
				    .rliname{
					margin: 5px 0;
					}
					.rlikey{
					margin: 5px 0;
					}
					.rliconf{
					margin: 5px 0;
					font: bold 11px Tahoma;
					position: relative;
					display: none;
					}
					    .rliconf a.rdel{
						color: #970000;
						}
						    .rliconf a:hover.rdel{
							color: #f83434;
							}
					.rlimess{
					display: none;
					position: absolute;
					float: none;
					top: -25px;
					left: 5px;
					background: #fcdada;
					border: 1px solid #af0000;
					padding: 13px 0;
					text-align: center;
					width: 165px;
					border-radius: 2px;
					font: bold 13px Tahoma;
					}
			#rtab{
			padding: 0;
			margin: 0;
			}
			    #rtab li{
				overflow: hidden;
				font: bold 13px Arial;
				margin: 0;
				text-shadow: 1px 1px 1px #fff;
				color: #c8c6c6;
				cursor: pointer;
				}
				    #rtab li a{
				    display: block;
				    width: 159px;
				    padding: 15px 20px;					
					color: #c8c6c6;
					text-decoration: none;
					border-bottom: 1px solid #e2e2e2;
					border-right: 1px solid #e2e2e2;
					}
				    #rtab li.act{
					background: #f0f0f0;
					}					
				    #rtab li.act a{
					color: #323232;
					}
					#rtab li:hover a{
					color: #323232;
					}
            #rcontent{
			float: right;
			border: 1px solid #d9d9d9;
			width: 585px;
			margin:  10px 10px;
			padding: 10px;
			box-shadow: inset 0 0 1px #fff;
			border-radius: 3px;
			background: #f4f4f4;
			text-shadow: 1px 1px 1px #fff;
			min-height: 300px;
			}
			    #rcontent.rleft{
				float: left;
				}
			    .rtitle{
				padding: 0 10px;
				margin: 0 0 20px 0;
				}
				    .rtitle.rbottom{
					margin: 20px 0 0 0;
					}
				.rbutton{
				float: right;
				width: 130px;
				text-align: right;
				}
				    .rbutton p{ margin: 0; padding: 0; }
				.rname{
				float: left;
				width: 410px;
				font: 18px Arial;
				}
		.hrrazdel{
		height: 1px;
		width: 100%;
		background: #d9d9d9;
		margin: 20px 0;
		}
		.rblock{
		border: 1px solid #d9d9d9;
		border-radius: 3px;
		margin: 10px;
		box-shadow: 0 0 1px #fff;
		background: #f6f6f6;
		padding: 10px 15px;
		overflow: hidden;
		}
		    .rblock p{
			margin: 0 0 5px 0; padding: 0;
			}
			.myvariant{
			display: none;
			}
		    .blocktitle{
			padding: 0 0 5px 2px;
			font: bold 13px Arial;
			position: relative;
			}
			    input.rlong{
				width: 530px;
				}				
				input.rvaria{
				width: 200px;
				}
				.ach{
				margin: 0 0 0 5px;
				}
				.rcheckbox label, .rradio label{
				padding: 0 10px 0 2px;
				}
				.rcheckbox input, .rradio input{
				margin-right: 5px;
				}
				.rtextarea textarea{
				width: 530px;
				max-width: 530px;
				min-width: 530px;
				min-height: 50px;
				}
				.rexport{
				padding: 10px 0;
				}
				.primercolor{
				position: absolute;
				float: none;
				top: -4px;
				right: 3px;
				width: 80px;
				height: 20px;
				border: 1px solid #d9d9d9;
				border-radius: 3px;
				}
				.rdescription{
				font-style: italic;
				margin: 5px 0 0 2px;
				}
				
/* clear */
.rupdated, .rerror{
margin: 0 0 10px;
border-radius: 3px;
width: 828px;
}
    .rupdated{
    border: 1px solid #028b0b;
    background: #e7f9e9;
    }
    .rerror{
    border: 1px solid #af0000;
    background: #f9e7eb;
    }
        .rupdated p, .rerror p{
        font: bold 13px Arial;
        margin: 10px 15px;
        }
		
.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(images/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(images/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(images/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(images/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(images/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(images/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(images/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(images/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(images/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(images/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(images/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}
		
		
.rclear{ clear: both; }