/*  Formatting style */

/*========>Main <===========*/

body {
    background: url("../images/bg.jpg") no-repeat scroll center top #FFFFFF;
    -moz-background-size: 115%;
    -webkit-background-size: 115%;
    -o-background-size: 115%;
    background-size: 115%;
}

p {
    font-family: 'PT Sans',sans-serif;
    color: #FFFFFF;
}

.width_K {
    width: 1000px;
    margin: 0 auto;
}

input, textarea, img {
    outline: none;
}

.no-border {
    border: none !important;
}

h2 {
    color: #0173d2;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: normal;
}
/*========>Top-Line<========*/
.top_line {
    height: 37px;
    background: #0173d2;
    border-bottom: 2px solid #ffffff;
}

.top_line  p {
    font-size: 15px;
    line-height: 35px;
}

.top_line li > a {
    display: block;
    height: 32px;
    width: 40px;
}

.top_line ul li {
    display: inline-block;
    list-style-type: none;
}

.top_line ul {
    height: 40px;
    width: 162px;
}

#rus-lang {
    background: url("../images/sprite-top-line.png") repeat scroll -90px 0 transparent;
}

#usa-lang {
    background: url("../images/sprite-top-line.png");
}

#brd-lang {
    background: url("../images/sprite-top-line.png") repeat scroll -46px 0 transparent;
}

/* ===============> HEADER <============== */

#logo {
    display: block;
    height: 105px;
    width: 380px;
}

.login-status input{
    width: 128px;
    height: 18px;
    border: 4px solid #c5e5fb;
    color: #c6c6c6;
}

#login {
    background: #fff;
    border-radius: 5px 0px 0 5px;
}

#login > input {
    border-radius: 5px 0 0 5px;
}

#password > input {
    border-radius: 0px 5px 5px 0px;
}

#password {
    background: #ffffff;
    border-radius: 0px 5px 5px 0px;
}

.ofline {
}

.ofline, .online {
    width: 360px;
    height: 100px;
}

.ofline a:hover, a:focus {
    color: #5C5C5C;
    text-shadow: 0 0 1px white;
}


.login-status a {
    font-family: "PT Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #5C5C5C, 0 0 1px #5C5C5C, 0 0 1px #5C5C5C;
}

#exit_offise, #return_offise {
    background: -moz-linear-gradient(center top, #0188F8 18%, #0180EA 52%, #0174D4 79%, #0167BC 100%);
    background: -webkit-linear-gradient(center top, #0188F8 18%, #0180EA 52%, #0174D4 79%, #0167BC 100%);
    background:  -o-linear-gradient(center top, #0188F8 18%, #0180EA 52%, #0174D4 79%, #0167BC 100%);
    background:  linear-gradient(#0188F8 18%, #0180EA 52%, #0174D4 79%, #0167BC 100%);
    border: 1px solid #fff;
    border-radius: 5px;
    display: inline-block;
    height: 25px;
}

#hello_user {
    font-style: italic;
    text-shadow: 1px 1px 2px gray;
}

#hello_user span {
    font-weight: bold;
}

/* =============> WRAPPER <========== */

#wrapper > ul {
    list-style-type: none;
}

#aside-nav > li {
    display: block;
    width: 122px;
    background: none;
    z-index: 1001;
    margin-bottom: 6px;
}

#aside-nav a {
    display: block;
    text-align: center;
    font-size: 15px;
    height: auto;
    position: relative;
    width: 113px;
    border: 1px solid transparent;
    border-radius: 5px 0 0 5px;
    padding: 7px 0 5px 4px;
    margin-left: -3px;
}

#aside-nav span {
    display: block;
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

#aside-nav > li:hover a {
    background: -moz-linear-gradient(top , #0187F7 21%, #017DE5 49%, #0173D1 70%, #0168BE 100%) repeat scroll 0 0 transparent !important;
    background: -webkit-linear-gradient(top , #0187F7 21%, #017DE5 49%, #0173D1 70%, #0168BE 100%) repeat scroll 0 0 transparent !important;
    background: -o-linear-gradient(top , #0187F7 21%, #017DE5 49%, #0173D1 70%, #0168BE 100%) repeat scroll 0 0 transparent !important;
    background: linear-gradient(top , #0187F7 21%, #017DE5 49%, #0173D1 70%, #0168BE 100%) repeat scroll 0 0 transparent !important;
    border: 1px solid #ffffff;
}

#aside-nav > li:focus a {
    background: url("../images/nav-li-hover.png");
}

#aside-nav > li:active a {
    background: url("../images/nav-li-hover.png");
}

.aside-home > span{
    background: url("../images/sprite-nav.png") no-repeat scroll 0px 0px transparent;
}

.aside-home:hover > span{
    background: url("../images/sprite-nav.png") no-repeat scroll 0px -58px transparent;
}

.aside-about > span{
    background: url("../images/sprite-nav.png") no-repeat scroll -56px 0px transparent;
}

.aside-about:hover > span{
    background: url("../images/sprite-nav.png") no-repeat scroll -56px -58px transparent;
}

.aside-vklad > span{
    background: url("../images/sprite-nav.png") no-repeat scroll -115px 0 transparent;
}

.aside-vklad:hover > span{
    background: url("../images/sprite-nav.png") no-repeat scroll -115px -58px transparent;
}

.aside-ustav > span{
    background: url("../images/sprite-nav.png") no-repeat scroll -230px 0 transparent;
}

.aside-ustav:hover > span{
    background: url("../images/sprite-nav.png") no-repeat scroll -230px -58px transparent;
}

.aside-faq > span{
    background: url("../images/sprite-nav.png") no-repeat scroll -286px 0 transparent;
}

.aside-faq:hover > span{
    background: url("../images/sprite-nav.png") no-repeat scroll -286px -58px transparent;
}

.aside-kontact > span{
    background: url("../images/sprite-nav.png") no-repeat scroll -345px 0 transparent;
}

.aside-kontact:hover > span{
    background: url("../images/sprite-nav.png") no-repeat scroll -345px -58px transparent;
}

.aside-partner > span{
    background: url("../images/sprite-nav.png") no-repeat scroll -173px 0 transparent;
}

.aside-partner:hover > span{
    background: url("../images/sprite-nav.png") no-repeat scroll -178px -56px transparent;
}

#aside-nav a {
    color: #5C5C5C;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 2px #fff;
    text-decoration: none;
    border: 1px solid transparent;
    height: auto;
}

#aside-nav a:hover, .activ a {
    color: #ffffff !important;
    text-shadow: none !important;
}

.activ a {
    background: -moz-linear-gradient(top , #0187F7 21%, #017DE5 49%, #0173D1 70%, #0168BE 100%) repeat scroll 0 0 transparent !important;
    background: -webkit-linear-gradient(top , #0187F7 21%, #017DE5 49%, #0173D1 70%, #0168BE 100%) repeat scroll 0 0 transparent !important;
    background: -o-linear-gradient(top , #0187F7 21%, #017DE5 49%, #0173D1 70%, #0168BE 100%) repeat scroll 0 0 transparent !important;
    background: linear-gradient(top , #0187F7 21%, #017DE5 49%, #0173D1 70%, #0168BE 100%) repeat scroll 0 0 transparent !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 5px 0 0 5px !important;
}

.activ .aside-faq > span {
    background: url("../images/sprite-nav.png") no-repeat scroll -286px -58px transparent
}

.activ .aside-home > span {
    background: url("../images/sprite-nav.png") no-repeat scroll 0 -58px transparent;
}

.activ .aside-akkount > span {
    background: url("../images/sprite-nav-top.png") repeat scroll -148px -34px transparent !important;
}

.activ .aside-kontact > span {
    background: url("../images/sprite-nav.png") no-repeat scroll -345px -58px transparent !important;
}
/* ==========> Content <======== */

#content-blok {
    width: 860px;
    background: #ffffff;
    border-radius: 5px;
}

#content-wrap {
    border: 6px solid #c5e5fb;
    border-radius: 5px;
    background: none repeat scroll 0 0 #efefef;
}

#add > div {
    float: left;
    width: 281px;
    border-right:  1px solid #eaeaea;
    height: 100%;
}

#add {
    height: 48px;
    background: #f9f9f9;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    margin-top: -5px;
}

#add p {
    color: #5C5C5C;
    text-shadow: 0 0 1px white;
    margin-top: 5px;
}

#add span {
    display: block;
    float: left;
    height: 35px;
    width: 35px;
}

#add1 {
    background: url("../images/sprite-add.png") repeat scroll 0 0 transparent;
}

#add2{
    background: url("../images/sprite-add.png") repeat scroll -35px 0 transparent;
}

#add3 {
    background: url("../images/sprite-add.png") repeat scroll -70px 0 transparent;
}

#leftblok {
    width: 540px;
    float: left;
}

#content-blok p {
    color: #666666;
    font-size: 14px;
    line-height: 20px;
}

#leftblok p {
    text-align: justify;
    width: 523px;
}

#kontent {
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 0 0 5px 5px;
}

#money {
    height: 120px;
}

#news, #statistik, #sozial_link {
    border: 1px solid #CDCDCD;
    width: 268px;
    border-radius: 10px;
    position: relative;
    padding-bottom: 20px;
}

#news .name, #statistik .name, #sozial_link .name {
    background: -moz-linear-gradient(center top, #0188F8 18%, #0180EA 52%, #0174D4 79%, #0167BC 100%);
    background: -webkit-linear-gradient(center top, #0188F8 18%, #0180EA 52%, #0174D4 79%, #0167BC 100%);
    background:  -o-linear-gradient(center top, #0188F8 18%, #0180EA 52%, #0174D4 79%, #0167BC 100%);
    background:  linear-gradient(#0188F8 18%, #0180EA 52%, #0174D4 79%, #0167BC 100%);
    font-size: 20px;
    height: 39px;
    line-height: 39px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 5px #5C5C5C;
    border-radius: 9px 9px 0px 0;
    border-bottom: 1px solid #CDCDCD;
    position: relative;
    margin-bottom: 12px;
}

.blu-text {
    color: #2B7FD5 !important;
    font-size: 18px !important;
}

#news > a, #otziv > a, #new-otziv a {
    color: #848484;
    display: block;
    font-size: 13px;
    font-style: italic;
    text-align: right;
}

.desk span {
    display: block;
    float: right;
}

#sozial_link a {
    display: block;
    height: 40px;
    width: 40px;
}

#sozial_link li {
    display: inline-block;
}

#sozial_link > ul {
    list-style-type: none;
}

#facebook {
    background: url("../images/sprite-soz.png") no-repeat scroll 0px 0px;
}

#ok {
    background: url("../images/sprite-soz.png") no-repeat scroll -106px 0 transparent;
}

#twit {
    background: url("../images/sprite-soz.png") no-repeat scroll -158px 0 transparent;
}

#vk {
    background: url("../images/sprite-soz.png") no-repeat scroll -212px 0 transparent;
}

#e-mail{
    background: url("../images/sprite-soz.png") no-repeat scroll -54px 0 transparent;
}

.otz {
    font-size: 20px !important;
}

#otziv {
    width: 520px;
}

#dt {
    text-align: right;
}

#new-otziv input, textarea {
    border: 1px solid;
    border-radius: 9px 9px 9px 9px;
    color: #C6C6C6;
    height: 30px;
}

textarea {
    height: 97px;
    width: 250px;
}

#new-otziv {
    width: 273px;
}

footer p {
    color: #666666;
    margin-top: 15px;
}


#obmen {
    border-left: 1px solid #EAEAEA;
    width: 230px;
}

.angle {
    background: url("../images/angle.png") repeat scroll 0 0 transparent;
    height: 6px;
    width: 11px;
    z-index: 1;
}

#vozrast {
    border: 2px solid #0173D2;
    border-radius: 10px 10px 10px 10px;
    height: 37px;
    width: 340px;
}

#vozrast > p {
    float: left;
    font-size: 14px;
    line-height: 16px;
    width: 300px;
}

#faq_p {
    background: none repeat scroll 0 0 #EAEAEA;
    border-radius: 10px 10px 10px 10px;
    padding: 7px 0 16px 58px;
    width: 738px;
}

#faq_p > p {
    color: #666666 !important;
}


.question {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 5px #Ffffff;
}

.answer {
    font-size: 14px;
    padding-top: 7px;
}

.disp_none {
    display: none;
}

#aside-nav-head li {
    background: url("../images/sprite-nav-top.png") repeat scroll 0 -2px transparent;
    display: inline-block;
    height: 26px;
    list-style-type: none;
    position: absolute;
    width: 130px;
}

#aside-nav-head {
    float: left;
    height: 26px;
    position: relative;
    width: 874px;
    padding-left: 5px;
}

#aside-nav-head a {
    display: block;
    text-align: center;
    width: 138px;
    color: #1b83e1;
    line-height: 26px;
    text-decoration: none;
    text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 3px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}

#aside-nav-head li:hover {
    background: url("../images/sprite-nav-top.png") repeat scroll 1px -31px transparent;
}

.akkaunt-line p {
    font-size: 13px !important;
    line-height: 26px !important;
    width: 215px;
    text-shadow: 0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff;
}
.feedback-line > p {
    font-size: 14px !important;
    width: 210px;
    text-shadow: 0 0 2px #FFFFFF, 0 0 2px #FFFFFF, 0 0 2px #FFFFFF;
    line-height: 26px !important;
}

#feedback span {
    color: #CE1818;
}

.akkaunt-line, .feedback-line {
    height: 32px;
    margin-top: 9px;
}

.akkaunt-line input, .feedback-line input {
    border: 1px solid #CDCDCD;
    border-radius: 8px 8px 8px 8px;
    height: 26px;
    width: 267px;
    font-size: 13px;
    font-style: italic;
    padding-left: 33px;
}

.feedback-line > textarea {
    display: block;
    float: left;
    height: 152px;
    width: 414px;
    resize: none;
    border: 1px solid #CDCDCD;
    color: #000;
    padding-left: 34px;
}
#feedback a {
    color: #848484;
    font-size: 13px;
    font-style: italic;
    margin-left: 615px;
    display: block;
    margin-bottom: 17px;
    margin-top: 7px;
    text-shadow: 0 0 2px #FFFFFF, 0 0 2px #FFFFFF, 0 0 2px #FFFFFF;
    width: 74px;
}

.akkaunt h3 {
    color: #0173D2;
    font-weight: normal;
    margin-bottom: 9px;
    text-transform: uppercase;
    margin-top: 23px;
}

#check {
    background: url("../images/sprite-nav-top.png") repeat scroll -452px -36px transparent;
    border-bottom: 1px solid white;
    height: 47px;
    width: 36px;
}

.akkaunt-info.text-border > div p {
    line-height: 45px !important;
    padding-left: 12px;
    padding-bottom: 7px;
    display: inline-block;
    border-left: 1px solid white;
}

.akkaunt-info.text-border > div p {
    border-bottom: 1px solid white;
    line-height: 45px !important;
    margin-right: -5px;
    padding-left: 12px;
    padding-bottom: 7px;
    height: 40px;
}

.border-bottom-none {
    border-bottom: none !important;
}

#error {
    background: url("../images/sprite-nav-top.png") repeat scroll -452px 5px transparent;
    height: 30px;
    width: 36px;
}

#dollar {
    background: url("../images/sprite-nav-top.png") repeat scroll -404px 0 transparent;
    height: 35px;
    width: 35px;
    float: left;
    margin-left: 66px;
    margin-top: 10px;
}
#tie {
    background: url("../images/sprite-nav-top.png") repeat scroll -404px -46px transparent;
    height: 35px;
    width: 35px;
    margin-left: 326px;
    margin-top: 7px;
}

#akkount_header #logo {
    height: 93px;
}

#akkount_header img {
    width: 306px;
}

#aside-nav-head li:hover a {
    color: #5C5C5C;
    text-shadow: 0 0 1px #FFFFFF, 0 0 1px #FFFFFF, 0 0 1px #FFFFFF;
}

.ugolok {
    background: url("../images/nav-li-hover.png") repeat scroll 0 0 transparent;
    display: none;
    height: 13px;
    position: absolute;
    right: 0;
    top: 42%;
    width: 7px;
}

#aside-nav li:hover .ugolok {
    display: block;
}

.activ .ugolok {
    display: block;
}

.aside-akkount:hover > span {
    background: url("../images/sprite-nav-top.png") repeat scroll -148px -34px transparent;
}

.aside-new-vklad:hover > span {
    background: url("../images/sprite-nav-top.png") repeat scroll -212px -39px transparent;
}

.aside-my-vklad:hover > span {
    background: url("../images/sprite-nav-top.png") repeat scroll -276px -38px transparent;
}

.aside-story-vklad:hover > span {
    background: url("../images/sprite-nav-top.png") repeat scroll -343px -36px transparent;
}

#skype_support > p, #vk_group > p, #write {
    text-transform: uppercase;
    line-height: 46px;
    font-size: 16px;
    padding-right: 29px;
}

#skype_support {
    width: 453px;
}

#write {
    font-size: 16px !important;
    margin-top: 25px;
    padding-bottom: 0px;
}


#skype_support > a {
    background: url("../images/vk&support.png") repeat scroll 0 0 transparent;
    height: 45px;
    width: 100px;
}

#vk_group > a {
    background: url("../images/vk&support.png") repeat scroll 0 -45px transparent;
    height: 35px;
    width: 132px;
    margin-top: 9px;
}

.italic {
    font-style: italic;
}

#otziv p, #otziv a, #new-otziv p, #new-otziv a, #faq_p > p, #table-bg p {
    text-shadow: 0 0 2px #FFFFFF, 0 0 1px #FFFFFF, 0 0 1px #FFFFFF;
}

.history-vklav h2 {
    text-transform: uppercase;
    width: 400px;
    margin-bottom: 6px;
}

.history-vklav li {
    display: inline-block;
}

.history-vklav ul {
    list-style-type: none;
    float: right;
}

.history-vklav li a {
    background: linear-gradient(#0188F8 18%, #0180EA 52%, #0174D4 79%, #0167BC 100%) repeat scroll 0 0 transparent;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    height: 21px;
    line-height: 21px;
    padding: 0 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.white-bg-top td {
    border-right: 1px solid #EAEAEA !important;
}

.white-bg-top {
    background: #ffffff;
}
#table-bg td {
    height: 50px;
    text-align: center;
    border-right: 1px solid #ffffff;
    padding: 0;
}

.purse {
    width: 92px;
}


.status {
    width: 98px;
}

.operation {
    width: 156px;
}

.data {
    width: 142px;
}

#table-bg-top p {
    line-height: 50px;
    font-size: 15px;
    font-style: italic;
}

.vklad {
    width: 90px;
}
.white-bg-top p {
    font-size: 16px !important;
    font-style: normal !important;
}

.money {
    width: 99px;
}

.white-bg {
    background: none repeat scroll 0 0 #FFFFFF;
}

.align-left {
    padding-left: 20px;
    text-align: left;
}

.white-bg > td {
    border-right: 1px solid #EAEAEA !important;
}

#table-bg p {
    font-style: italic;
}

.white-bg-top p {
    margin-top: 4px !important;
}

.activ .aside-story-vklad > span{
    background: url("../images/sprite-nav-top.png") repeat scroll -343px -36px transparent;
}