#faq_p {
	min-height: 700px;
}

#submit{
	
}
.merci {
	margin-left: 80px;
	margin-top:100px;	
}
.staticpage p {
	width: 100% !important;
}
.staticpage #leftblok{
	width: 795px;
	min-height: 700px;
}
.activ .aside-about span {
	background: url("../images/sprite-nav.png") no-repeat scroll -56px -58px transparent !important;
}
.activ .aside-vklad > span {
	background: url("../images/sprite-nav.png") no-repeat scroll -115px -58px transparent;
}
.activ .aside-partner >span {
	background: url("../images/sprite-nav.png") no-repeat scroll -178px -56px transparent;
}
.activ .aside-ustav > span {
	background: url("../images/sprite-nav.png") no-repeat scroll -230px -58px transparent;
}