/* ================> MAIN <================ */
.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.clearfloat {
    clear: both;
}

.padding-none {
    padding: 0 !important;
}

/* ================> Top_Line <============ */
.top_line  p {
    float: left;
    margin-right: 27px;
}

.top_line ul li {
margin-right: 6px;
}

.top_line ul {
    margin-top: 3px;
}
/* ===============> HEADER <============== */

#logo {
    margin-top: 18px;
    margin-left: -26px;
}

#login, #password {
    padding: 1px;
}

.login-status input{
    padding-left: 18px;
}

#login {
    margin-right: 8px;
}

#password {
    margin-right: 10px;
    margin-left: 6px;
}

.ofline {
    padding-top: 33px;
    margin-left: 273px;
}

.login-status a {
    padding-right: 50px;
}

#hello_user {
    margin-bottom: 23px;
    margin-left: 24px;
}

.online {
    margin-left: 248px;
    margin-top: 16px;
    margin-bottom: 18px;
}

#exit_offise, #return_offise {
    padding: 0 10px !important;
}

#return_offise {
    margin-right: 21px;
}

#aside-nav {
    margin-top: 40px;
    margin-right: -7px;
    width: 122px;
}

#aside-nav > li {
    position: relative;
}

/* ==========> Content <======== */
#wrapper {
    padding-top: 12px;
}

#content-blok {
    padding: 1px;
}

#add span {
    margin: 7px 13px 0 29px;
}

h2 {
    margin-bottom: 15px;
    margin-top: 23px;
    margin: 0 0 15px;
}

#leftblok {
    padding-left: 25px;
}

#leftblok > p {
    padding-bottom: 20px;
}

#kontent {
    padding-top: 23px;
}

.blu-text {
    margin: 0 20px;
}

.desk {
    margin: 0 20px;
}

#news > a {
    margin-right: 20px;
}

#sozial_link li {
    margin-left: 4px;
    margin-right: 6px;
}

#rightblok {
    margin-right: 11px;
    margin-top: -5px;
}

#rightblok > div {
    margin-bottom: 17px;
}

#user_name {
    margin-bottom: 6px;
}

.otz {
    margin: 16px 0 11px;
}

#otziv {
    padding-left: 20px;
}

#new-otziv input, textarea {
    padding-left: 20px;
}

#new-otziv input {
    margin-bottom: 9px;
}

#new-otziv {
    float: left;
    margin-left: 25px;
}

#news > a, #otziv > a {
}

#otziv > a {
    float: right;
    height: 17px;
    margin-bottom: 15px;
    margin-top: 23px;
    width: 90px;
}

#new-otziv a {
    padding-top: 8px;
    margin-left: 198px;
    width: 71px;
}


#obmen {
    float: left;
    margin-left: 40px;
    padding-left: 20px;
}

footer {
    height: 100px;
    margin: -25px 0 0;
    position: relative;
    width: 100%;
    z-index: -1;
}

#foot-bg {
    background: url("../images/footer-bg-2.png") repeat scroll 0 0 transparent;
    bottom: 0;
    height: 500px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#footer-block {
    padding-left: 120px;
    margin: 0 auto;
    width: 880px;
    padding-top: 40px;
}

#comodo {
    margin: 0 25px;
}

.angle {
    left: 40px;
    position: absolute;
    top: 39px;
}

#comment {
    clear: both;
    text-align: justify;
}

#vozrast {
    float: left;
    margin-left: 80px;
    margin-top: 6px;
    padding: 0;
}

#vozrast > p {
    margin: 2px 0 0 4px;
}

.faq h2 {
    margin-bottom: 7px;
    text-transform: uppercase;
}

.faq {
    padding: 21px 0 21px 26px;
}

.question {
    padding-top: 23px;
}

#faq_first_line {
    padding-top: 7px !important;
}

.answer {
    padding-top: 8px;
    padding-right: 60px;
}

/*=========> AKKOUNT <==========*/
.aside-home-top {
    z-index: 10;
}

.aside-about-top {
    z-index: 9;
    left: 123px;
}

.aside-vklad-top {
    z-index: 8;
    left: 242px;
}
.aside-partner-top {
    z-index: 7;
    left: 361px;
}
.aside-ustav-top {
    z-index: 6;
    left: 482px;
}
.aside-faq-top {
    z-index: 5;
    left: 602px;
}

.aside-kontact-top {
    z-index: 4;
    left: 721px;
}

.aside-akkount > span {
    background: url("../images/sprite-nav-top.png") repeat scroll -148px 9px transparent;
}

.aside-new-vklad > span {
    background: url("../images/sprite-nav-top.png") repeat scroll -212px 5px transparent;
}

.aside-my-vklad > span {
    background: url("../images/sprite-nav-top.png") repeat scroll -276px 6px transparent;
}

.aside-story-vklad > span {
    background: url("../images/sprite-nav-top.png") repeat scroll -344px 6px transparent;
}

.akkaunt {
    padding: 0 26px 23px 26px;
    background: #fff !important;
}

.akkaunt-info, #feedback, .history-vklav > #table-bg {
    background: none repeat scroll 0 0 #EAEAEA;
    padding-left: 59px;
    padding: 7px 0 10px 58px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#feedback {
    margin-top: 17px;
    padding-top: 16px;
}


.mini-stat {
    margin-top: 15px;
}

.akkaunt-info.text-border {
    padding-left: 34px;
}

.proz_s_part {
    width: 196px;
}

.kol-vo_part {
    width: 108px;
}

.summa_vklad {
    width: 182px;
}

#akkount_header .login-status {
    margin-bottom: -8px;
}

#akkount_header #exit_offise {
    float: right;
    margin-right: 16px;
    margin-top: 1px;
}

.aside-nav_akk {
    margin-right: -7px;
    margin-top: 66px !important;
    width: 122px;
}

#pm-orang {
    color: #E79823;
    display: block;
    float: left;
    font-family: pt sans;
    font-size: 13px;
    font-weight: bold;
    line-height: 27px;
    padding-left: 25px;
}

.akkaunt-line > img {
    display: block;
    float: left;
}

#pm_desk {
    float: left;
    font-style: italic;
    line-height: 11px !important;
    padding-left: 20px;
    width: 225px;
}

#skype_support > a, #vk_group > a {
    display: block;
    float: left;
}

.kontakti {
    padding: 30px 27px !important;
}

#vhod {
    margin: 0 15px 0 14px;
}

.history-vklav {
    padding: 21px 26px 130px 25px !important;
}

#table-bg table {
    margin-top: 12px;
    margin-bottom: 12px;
}

#table-bg img {
    margin-top: 6px;
}

.status-align {
    padding-left: 15px;
    text-align: left;
}

.vklad-align {
    padding-left: 26px;
    text-align: left;
}

#table-bg td.no-border p {
    padding-left: 28px;
    text-align: left;
}